body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}
input, select, textarea {
    background-color: #2c2c2c;
    color: #e0e0e0;
    border: 1px solid #444444;
}
input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #66afe9;
}
button {
    background-color: #007bff;
    color: #e0e0e0;
    border: none;
}
button:hover {
    background-color: #0056b3;
}
.chat-box {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 15px;
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
    background-color: #1e1e1e;
}
.chat-box .mensagem:not(:last-child) {
    margin-bottom: 15px;
}
.mensagem {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
    font-size: 0.9em;
    word-wrap: break-word;
}
.mensagem.usuario {
    background-color: #007bff;
    color: white;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
}
.mensagem.outro {
    background-color: #f1f1f1;
    color: #333;
    margin-right: auto;
    margin-left: 0;
    text-align: left;
}
.mensagem strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.mensagem div {
    font-size: 0.75em;
    color: #bbb;
    margin-top: 5px;
    text-align: right;
}
a {
    color: #66afe9;
    text-decoration: none;
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
.container {
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    border: 1px solid #444444;
}